* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    width: 80px;
    height: 80px;
    background: gray;
    color: #FFF;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin: 5px 5px auto auto;
}