* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu {
    background: black;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
}

.menu li {
    padding: 20px 30px;
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: #FFF;
}

.container-imagens {
    display: flex;
    flex-wrap: wrap;
}

.imagem {
    width: calc((100% / 4) - 0px);
    min-height: 400px;
    background: red;
    position: relative;
}

.imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto {
    width: 100%;
    position: absolute;
    bottom: 0px;
    padding: 5px 10px;
    color: #FFF;
    background: rgba(0,0,0,.2);
}

h3 {
    margin-bottom: 0;
}

.container-contato {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
label {
    display: block;
}

input {
    padding: 8px 50px 8px 5px;
    margin-bottom: 30px;
}

textarea {
    padding: 8px 30px 8px 5px;
}


button {
    padding: 10px;
}