body 
{
  background-image: url(../images/world_map.png);
  background-attachment: cover;
}

.card
{
  min-height: 270px;
  background-position: 60% 30%;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 0 0 5px #ccc, 0 0 2px  #000 inset;
  cursor: pointer;
  transition: all 0.1s ease;
}

.card.face-down:hover {
  margin-top: -4px;
  transform: rotate(7deg);
}

.card.br
{
  background-image: url(../images/flag_br.png);

}

.card.kr
{
  background-image: url(../images/flag_kr.png);
}

.card.do
{
  background-image: url(../images/flag_do.png);
}

.card.pt
{
  background-image: url(../images/flag_pt.png);
}

body .card.face-down
{
  background-image: url(../images/card_texture.jpg);
  box-shadow: 0 0 2px #000, 0 0 8px #fff inset;
}