@charset "utf-8";

@font-face {
    font-family: 'TrajanProBold';
    src: url('../fonts/trajanpro-bold-webfont.eot');
    src: url('../fonts/trajanpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/trajanpro-bold-webfont.woff') format('woff'),
         url('../fonts/trajanpro-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TrajanProRegular';
    src: url('../fonts/trajanpro-regular-webfont.eot');
    src: url('../fonts/trajanpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/trajanpro-regular-webfont.woff') format('woff'),
         url('../fonts/trajanpro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
	margin:0;
	padding:0;
	border:none;	
}

body{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:medium;
	color:#FDEDE0;
	background:url(../images/bg_body.jpg) no-repeat top center;
	background-size: cover;
}
a{
	text-decoration:none;
	color:#FDEDE0;	
}
h1,h2,h3,h4,h5,h6{
	font-family:'TrajanProBold', "Trebuchet MS", Arial, Helvetica, sans-serif;	
}
ul{
	list-style:none;	
}

.wrapper{
	margin:0 auto;
	width:980px;	
}

#header{
	width:100%;
	height:100px;
}
	#header #logo{
		float:left;
		width:350px;
		margin-top:30px;	
	}
	#header #nav{
		float:right;
		width:630px;
		text-align:right;	
	}
		#nav ul{
			margin-top:45px;	
		}
		#nav li{
			font-family:'TrajanProRegular', "Trebuchet MS", Arial, Helvetica, sans-serif;	
			display:inline;
			padding:7px 15px;
		}
		#nav li:hover{
			background-color:#A71E22;
		}

#content{
	width:100%;
	height:auto;	
	margin-top:20px;
}
	#content .boxes{
		clear:both;		
		width:960px;
		margin-left:20px;
	}
	.box{
		float:left;
		width:300px;
		height:auto;
		margin-right:20px;
		background-image:url(../images/bg_box.png);
		background-repeat:repeat;
		margin-bottom:20px;
	}
		.box .container{
			width:300px;
			height:auto;
			min-height:200px;
			background-image:url(../images/box_top.png);
			background-repeat:no-repeat;
			background-position:top center;		
		}
			.container h1{
				font-size:1.5em;
				text-align:center;
				padding-top:20px;
				color:#F7AC1B;
			}
			.container .orders{
				width:260px;
				padding:0px 20px 20px 20px;
			}
				.orders h2{
					font-size:1.2em;
					color:#F9D595;
					margin-top:10px;
					margin-bottom:5px;
				}
				.orders ul{
					min-height:100px;	
				}
				.orders li{
					font-size:0.8em;
				}
			.box .container .options{
				width:260px;
				padding:0px 20px 20px 20px;	
				text-align:center;
			}
				.options button, .options .button{
					padding:7px 12px;
					font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
					font-size:0.8em;
					font-weight:bold;
					color:#FDEDE0;
					background-color:#A71E22;
					cursor:pointer;
				}
				.options button:hover, .options .button:hover{
					background-color:#F9D595;
					color:#A71E22;
				}
	.boxes .form{
		width:940px;
		height:auto;
		margin-right:20px;
		background-image:url(../images/bg_box.png);
		background-repeat:repeat;
		margin-bottom:20px;
	}
		input, textarea, select{
			min-height:30px;
			padding-left:10px;		
			font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		}
		textarea{
			padding-top:10px;	
		}
		.form .container{
			width:100%;
			height:auto;
			min-height:200px;
			background-image:url(../images/box_top2.png);
			background-repeat:no-repeat;
			background-position:top center;		
		}
			.container .element{
				clear:both;
				padding-top:20px;
				padding-left:20px;
				padding-right:20px;
				width:900px;	
				font-size:0.9em;
			}
				.element label{
					float:left;
					width:100px;
					text-align:right;
					margin-right:10px;	
				}
				.element .field{
					float:left;
					width:770px;	
				}
			.form .container .options{
				clear:both;
				text-align:right;
				padding-top:20px;
				padding-right:20px;
				padding-bottom:20px;
			}		
	