section {
	position: relative;
}

div.topo{
	color: white;
	display: none;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: fixed;
	right: 30px;
	bottom: 30px;
	padding: 10px;
	background-color: rgba(100, 100, 100, 1);
	box-shadow: 0 0 4px grey;
	cursor: pointer;
}

div.topo img{
	position: relative;
	left: 5px;
	top: 9px;
	width: 80%;
}

div.topo:active{
	background-color: rgba(50, 50, 50, 1);
}

   section.resultLink > div > div > ul li ul{
    	display: none;
   }
   section.resultLink > div > div > ul li{
   		display: block;
   		padding: 5px;
   		outline: 1px solid transparent;
   		transition: 0.2s;
   }

   section.resultLink > div > div > ul li:hover{
   		outline: 1px solid white;
   		cursor: pointer;
   		color: rgba(255, 255, 255, 0.7);
   }

body { margin:0;font:16px/22px Arial;color:#333; }

#slider img:nth-child(1n+2){
	display: none;
}

.btns{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	transition: 0.3s;
	cursor: pointer;
}

.btns:hover{
	background-color: rgba(0, 0, 0, 0.5);
}

.btns:active{
	background-color: rgba(0, 0, 0, 0.9);
}

section, nav { display:block;padding:20px; }
h1 { font:bold 35px Arial;color:#555;letter-spacing:-1pt }
h2 { font:bold 25px Arial;color:#999;letter-spacing:-1pt }

.c { clear:both;float:none!important;display:block }

section > div em{
	cursor: pointer;
	font-style: normal;
	text-decoration: underline;
	font-weight: 700;
}

em span{
	opacity: 0;
}

.hidden-text { opacity: 0; height: 10px; transition: 1s;}
nav ul { padding:10px;width:930px;height:70px;margin:0 auto;list-style:none; }
nav ul li { float:right;height:38px;margin-top:20px }
nav ul li a { display:block;color:#369;text-align:center;padding:5px 10px;text-decoration:none; transition: 0.2s; border-bottom: 2px solid white;}

nav ul li a:hover{
	border-bottom: 2px solid #369;
}

nav ul li a:active{
	border-bottom: 2px solid red;
	color: red;
}
nav ul li a sup { font-size:8px;line-height:10px; }
nav ul li:first-child { float:left;width:100px;height:70px;position:relative;margin-top:0 }
nav ul li:first-child a { position:absolute;width:100px;height:70px;background:url(../img/worlskills.png) no-repeat bottom;padding:0;z-index:2 }
nav ul li:first-child div { position:absolute;width:45px;height:53px;background:url(../img/handsymbol.png) no-repeat;left:55px }

#slider > div { width:866px;margin:0 auto 5px; }
#slider > div div { float:left;width:50px;height:50px;margin:150px 10px; }
#slider > div div:nth-child(2) { width:700px;height:350px;margin-top:0;margin-bottom:0 }

section.aboutLink {
	height:560px;
	background:url(../img/about.png) center no-repeat;
	background-attachment: fixed;
	background-position-y: 10%;
	box-shadow:inset 0 0 20px #CCC;
}
section.aboutLink > div { width:866px;margin:0 auto; }
section.aboutLink > div div { color:gray; }
section.aboutLink img { float:right;border:solid 8px white;box-shadow:5px 5px 10px #AAA;transform:rotate(10deg);margin:80px 10px 70px 70px;width:250px;height:250px; }

section.competition41Link{
	border:solid 5px #EEE;
	border-left:none;
	border-right:none;
	background: white url(../img/41.png) center no-repeat;
	background-attachment: fixed;
	background-position-y: 0%;
}

section.competition41Link > div { width:866px;margin:0 auto; }
section.competition41Link > div div { color:gray;width:530px;float:right }
section.competition41Link img { float:left;border:solid 8px white;box-shadow:5px 5px 10px #AAA;transform:rotate(-5deg);margin:80px 70px 70px 10px;width:220px;height:220px; }


section.competition40Link {
	border-bottom:solid 5px #EEE;
	background: white url(../img/40.png) center no-repeat;
	background-attachment: fixed;
	background-position-y: 0%;
    transition: 1s;
}

section.competition40Link > div { width:866px;margin:0 auto; }
section.competition40Link > div div { color:gray; }
section.competition40Link img { float:right;border:solid 8px white;box-shadow:5px 5px 10px #AAA;transform:rotate(5deg);margin:60px 10px 70px 70px;width:220px;height:220px; }

section.resultLink { background:#182744;box-shadow:inset 0 5px 10px #000 }
section.resultLink h1, section.resultLink h2 { color:white; }
section.resultLink li { color:white; }
section.resultLink > div { width:866px;margin:0 auto; }
section.resultLink > div > div { width:42%;margin:0 2%;float:left }
section.resultLink > div > div:last-child { float:right; }
section.resultLink > div > div > ul div { font-size:15px;font-weight:bold }
section.resultLink > div > div > ul li { font-size:13px; }

.sliderImages {
	position: relative;
}

.slide-elemento {
	position: relative;
	display: none;
}

.slide-elemento:nth-child(1) {
	display: block;
}

.btn-subir {
	position: fixed;
	right: 20px;
	bottom: 30px;
	display: none;
}

.bolinhas {
	width: 100%;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bola {
	padding: 6px;
	background: #d6d6d6;
	border-radius: 50%;
	margin: 5px;
	border: none;
	outline: none;
	cursor: pointer;
}

.borda {
	border: 2px solid #d6d6d6;
	background: transparent !important;
}

