.menu{
	background-color: #FFF;
}
.menu ul li a:hover, .rodape ul li a:hover{
	cursor: pointer;
}
.topoAbertura, .topoInternaEstudante, .topoInternaEmpresa{
	min-height: 400px;
	background-color: #3dc0f1;
	color: #FFF;
	padding: 50px 50px;
}
.indicadores{
  min-height: 280px;
  background-color: #0060a7;
}
.indicadores h2{
  color: #FFF;
}
.topoInternaEstudante{
	min-height: 50px;
  background-color: #fa911a;
}
.topoInternaEstudante h1{
  color:#FFF;
}
.topoInternaEmpresa{
  min-height: 50px;
  background-color: #fe2712;
}
.topoInternaEmpresa h1{
  color:#FFF;
}
.menu ul.uk-navbar-nav li a:hover{
	background-color: #0060a7;
	color: #FFF;
}
.rodape ul.uk-navbar-nav li a:hover{
	background-color:  #fa911a;
	color: #FFF;
}
.opcoes{
	min-height: 320px;
}
.opcoesInterno{
	padding-bottom: 50px;
}
.rodape{
	background-color: #fa911a;
	color: #FFF;
	min-height: 50px;
	padding-top: 10px;
}
.rodape a.ic{
  background-image: url('../imagens/sprite-footer-senai.png');
  margin-left: 20px;
  margin-top: 12px;
}
.rodape .ic.ic-home-cni {
  background-position: -112px -10px;
  width: 45px;
  height: 14px;
}
.rodape .ic.ic-home-sesi {
  background-position: -112px -32px;
  width: 55px;
  height: 14px;
}
.rodape .ic.ic-home-senai {
  background-position: -112px -57px;
  width: 73px;
  height: 14px;
}
.rodape .ic.ic-home-iel {
  background-position: -113px -81px;
  width: 40px;
  height: 14px;
}
.rodape .politica{
	margin-left: 50px;
}
.tm-section{
	padding-top: 50px;
}
.tm-panel-link,
.tm-panel-link:hover {
    text-decoration: none;
    color: #444;
}
.tm-panel-link {
    padding: 30px 30px 60px 30px;
    
}
.tm-panel-link:after {
    content: "";
    display: none;
    position: absolute;
    height: 5px;
    right: -1px;
    left: -1px;
    bottom: -1px;
    background: #0060a7;
}
.tm-panel-link:hover:after { 
	display: block; 
}
.paravoce{
	border: 1px solid #fa911a;
}
.paravoce:after{
	background:#fa911a;
}
.paraempresa{
	border: 1px solid #fe2712;
}
.paraempresa:after{
	background: #fe2712;
}
.logoBranco{
	height: 100px;
	margin-top: 20px;
}
.tm-icon {
    position: relative;
    width: 80px;
    margin: -60px auto 0 auto;
    border-radius: 5px;
    background: #0BA1D8;
    line-height: 80px;
    color: #fff;
}

.tm-icon:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -10px;
    border: 10px solid #0BA1D8;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom: none;
}
.tm-panel-link { 
	-webkit-backface-visibility: hidden; 
}
.tm-panel-link:hover .tm-icon {
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
}
.tm-panel-link:hover h3 { 
	color: #0BA1D8; 
}
.logoMenorTopo{
	margin-top: 5px;
	float: right;
}
.uk-form fieldset{
	margin-top:20px;
}
.bt-cadastrar{
	margin-top: 20px;
}
.oculto{
  display: none;
}
.oportunidade, .indicador, .profissional{
  border: 1px solid #999;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 20px;
}
.profissional{
  margin-top:20px;
}
.indicador{
  border: 1px solid #FFF;
  border-radius: 5px;
  background-color: #0060a7; 
  padding: 20px;
  margin:20px;
  min-height: 100px;
  color: #FFF;
}
.tituloOportunidade, .nomeTalento{
  margin-top: 0px;
}
.destaque{
  padding: 20px;
  font-size: 40px;
  color: #fa911a;
}
.novaOportunidade{
  margin-top: -55px;
  float: right;
}