@font-face {
    font-family: 'LatoRegular';
    src: url("../fontes/Lato-Regular.ttf");
}

@font-face {
    font-family: 'LatoBlack';
    src: url("../fontes/Lato-Black.ttf");
}

@font-face {
    font-family: 'LatoBold';
    src: url("../fontes/Lato-Bold.ttf");
}
body {
    margin: 0 auto;
    font-family: sans-serif;
}

h1 {
    margin: 25px auto;
    width: 700px;
    height: 111px;
}

.logo {
    text-align: center;
    margin-top: 20px;
}

.logo img {
    animation-name: logoAnimation;
    animation-duration: 2s;
    max-width: 250px;
    padding: 20px;
}

@keyframes logoAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*#resolucao {*/
    /*height: 1334px;*/
    /*width: 750px;*/
/*}*/

.container-comodo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.comodo {
    margin: 25px 0 25px 15px;
    border: 1px solid #E5E5E5;
    width: calc((100% / 3) - 10px);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 5px rgba(0,0,0,.1);
    display: flex;
    flex-direction: column;
}


@media(max-width: 767px) {

    .comodo {
        width: calc((100% / 1) - 50px);
        margin-left: 0;
    }

    .comodo .lista-comodo,
    .comodo .sensor {
        display: none;

    }

    .dflex {
        display: flex !important;
    }

    .alturaAuto {
        height: auto !important;
    }

    .seta {
        transform: rotate(45deg);
    }
}

@keyframes showComodo {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.comodo .tituloComodo {
    padding: 10px 0;
    /*background-color:#32738f;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.comodo .tituloComodo .fecharComodo {
    text-align: center;
    color: #FFF;
    width: 30px;
    height: 30px;
    border: 2px solid #FFF;
    border-radius: 5px;
    float: right;
    margin-right: 25px;
    /*margin-top: 10px;*/
    line-height: 40px;
    justify-items: flex-end;
    align-items: center;
    display: flex;
    justify-content: center;
}

.nameComodo {
    font: 23px 'LatoBlack';
    color: #32738f;
    padding-left: 10px;
}

button.equipamento {
    cursor: pointer;
}

button.equipamento p {
    opacity: 0;
}

.equipamento {
    /*width: 65px;*/
    /*border: 2px solid #32738f;*/

    /*display: inline-block;*/
    /*margin: 10px;*/
    /*padding: 10px;*/
    /*overflow: hidden;*/
    /*display: inline-flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*flex-direction: column;*/
    width: 50px;
    height: 30px;
    position: relative;
    border-radius: 50px;
    outline: none;
    border: none;
}

.sensor {
    margin-top: auto;
    background-color: #327497;
    color: #FFF;
    text-align: center;
    padding: 15px;
    border-radius: 0 0px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sensor .status {
    font: 31px 'LatoBlack';
    font-weight: bold;
    padding-right: 5px;
    /*display: block;*/
}

.sensor .scale {
    font: 20px 'LatoBold';
}

.equipamento .statusEquipamento {
    font-size: 20px;
    display: block;
}

.equipamento .statusEquipamento {
    font-weight: bold;
    margin-top: 10px;
    font-size: 18px;
    text-transform: uppercase;
}

.on, .locked {
    color: #FFF;
    background-color: #599f18b3;

}

.on:after, .locked:after {
    content: "";
    position: absolute;
    width: 25px;
    height: 90%;
    background: white;
    right: 0px;
    top: 0;
    border-radius: 50%;
    border: 2px solid #DDDDDD;
}

.on:before, .locked:before {
    content: "I";
    position: absolute;
    left: 10px;
    top: 6px;
}

.off, .unlocked {
    color: #AFAFAF;
    background-color: #F9F9F9;
    animation-name: animationOff;
    animation-duration: 3s;
    border: 2px solid #DDDDDD;
}

.off:after, .unlocked:after {
    content: "";
    position: absolute;
    width: 25px;
    height: 100%;
    background: white;
    left: -2px;
    top: -2px;
    border-radius: 50%;
    border: 2px solid #DDDDDD;
}

.off:before, .unlocked:before {
    content: "O";
    position: absolute;
    right: 6px;
    top: 3px;
}

/*@keyframes animationOff {*/
/*0% {*/
/*background-color: #aaa;*/
/*}*/

/*100% {*/
/*background-color: #c3c3c3;*/
/*}*/
/*}*/

.equipamento .nameEquipamento {
    font-size: 18px;
}

.nameEquipamento, .statusEquipamento {
    display: block;
    text-align: center;
}

#dataAtualizacao {
    margin-top: 25px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 25px;
}

.dataAtualizacao {
    font-weight: bold;
}

.equipamento .on .light {
    background-color: #FFFF00;
}

.lista-comodo {
    font: 20px 'LatoRegular';
    list-style: none;
    border-bottom: 1px solid #DBDBDB;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lista-comodo:last-child {
    border: none;
}

.padding {
    padding: 15px 20px;
}

.seta {
    font-size: 30px;
    padding: 24px;
    color: #999999;
    font-weight: bold;
    transform: rotate(90deg);
    cursor: pointer;
    background: url("../imagens/seta.png") no-repeat center;
    background-size: cover;
    margin-right: 10px;
}

.animacaoSetaOpen .seta {
    animation-name: animationSetaOpen;
    animation-duration: .3s;
    transform: rotate(90deg) !important;
}

@keyframes animationSetaOpen {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

.animacaoSetaClose .seta {
    animation-name: animationSetaClose;
    animation-duration: .3s;
    transform: rotate(0deg) !important;
}

@keyframes animationSetaClose {
    0% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


@media(max-width: 767px) {
    .seta {
        transform: rotate(0deg);
    }


}