* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box-login {
    height: 100vh;
    background: #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    padding: 30px;
    background: #efefef;

}

label {
    display: block;
}

input {
    padding: 6px 30px;
    margin-bottom: 30px;
}

button {
    display: block;
    padding: 10px 30px;
}