*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.boxInfos {
    max-width: 300px;
    border: 2px solid #d6d6d6;
    padding: 20px;
    margin: 10px;
}

input,
select {
    padding: 5px 10px;
    margin-bottom: 10px;
}

table {
    max-width: 300px;
    background: #e2e2e2;
}

td {
    padding: 15px 20px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxalimento {
    margin-top: 30px;
}