* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 20px;
}

form {
    margin: 0 auto;
    text-align: center;
}


select {
    width: 250px;
    height: 40px;
    padding-left: 5px;
    margin-bottom: 40px;
}

table {
    margin: 0 auto;
}

thead {
    background: #dedbe1;
}

th {
    padding: 20px 50px;
}

td {
    padding: 10px 50px;
}

tr{
    text-align: center;
}

tr:nth-child(2n) {
    background: #dedbe1;
}

tfoot {
    background: #676568;
    color: #FFF;
}