/* Admin Pages */

header{
	height : 65px;
	background-image : none;
}

header .container{
	margin-top : 15px;
}

header img{
	height : 35px;
	float : left;
	margin-right : 30px;
}

header nav{
	float : left;
	margin-top : 9px;
}

header ul li{
	float : left;
	list-style-type : none;
}

header ul li a{
	color : #FFF;
	padding : 0 15px;
}

header ul li.active a{
	font-weight : bold;
}

