*{
	margin : 0;
	padding : 0;
}

body,
html{
	background : #13ACFF;
}

.container{
	width : 340px;
	margin : auto;
	margin-top : 10%;
}


img{
	display:block;
	margin : auto;
	width : 213px;
	margin-bottom : 40px;
}

input{
	background : none;
	border:3px solid #FFF;
	border-radius : 5px;
	font-size : 18px;
	width : 296px;
	color : #FFF;
	text-transform : lowercase;
	padding : 15px 20px;
	margin-bottom : 10px;
}

::-webkit-input-placeholder {
   color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

:-ms-input-placeholder {  
   color: #fff;  
}

button{
	background : #FFF;
	border : 0;
	color : #13ACFF;
	width :145px;
	height : 45px;
	line-height : 45px;
	text-align : center;
	border-radius : 3px;
	float : right;
	cursor : pointer;
}

