/************************************************
* RESET 
************************************************/

*{
	margin : 0;
	padding : 0;
	font-family : Arial, sans-serif;
	font-size : 14px;
	color : #333;
}

a{
	color : inherit;
	text-decoration : none;
}

/***********************************************
* HELPERS
************************************************/

.container{
	width : 940px;
	margin : auto;
}

.pull-right{
	float : right;
}

.row:after,
.clearfix :after{
	content : '';
	display : block;
	clear : both;
}

/* Icons */

.icons{
	display : block;
}

.icon-kart{
	background : center center url('../img/icons/icon-kart.png') no-repeat;
}

/* Text */

.text-right{
	text-align : right;
}

.text-left{
	text-align : left;
}

/* Distance */

.distance-bottom-10{
	margin-bottom : 10px !important;
}

/************************************************
* HEADER 
************************************************/

header{
	width : 100%;
	background : #13ACFF url('../img/header-bg.jpg') no-repeat center bottom;
	height : 510px;
	overflow : hidden;
}

/* Login Row */

.row-login{
	margin-top : 20px;
	
}

.row-login p{
	color : #FFF;
	margin-top : 20px;
	margin-right : 20px;
}

.row-login p a{
	font-weight : bold;	
}

/* Banner Row */

.row-banner{
	margin-top : 80px;
}

.row-banner img{
	display : block;
	margin : auto;
	margin-bottom : 80px;
}

.row-banner a{
	display : block;
	color : #FFF;
	border : 4px solid #FFF;
	border-radius : 5px;
	text-transform : uppercase;
	font-size : 24px;
	height : 65px;
	width : 500px;
	text-align : center;
	line-height : 65px;
	margin : auto;
}

/* Box Kart */

.box-kart{
	width : 180px;
	border : 2px solid #FFF;	
	overflow : hidden;
	float : right;
	border-radius : 3px;
}

.box-kart *{
	color : #FFF;
}

.box-kart a{
	float : left;
	margin-top : 8px;
	margin-left : 8px;
}

.box-kart .kart-n-itens{
	font-weight : bold;
	font-size : 18px;
	display : block;
}

.box-kart .icon{
	width : 55px;
	height : 55px;
	background-color : #FFF;
	display : block;
	float : left;
	margin-right : 5px;
}

/************************************************
* MAIN 
************************************************/

#main{
	margin-top : 40px;
	padding-bottom : 40px;
	overflow : hidden;
}

#content section{
	margin-bottom : 40px;
	overflow : hidden;
}

#main h1,
#main h2{
	font-size : 36px;
	color : #666;
	font-weight : normal;
	margin-bottom : 25px;
}

#main h2{
	font-size : 24px;
}

/* Content */

#content{
	padding-left : 40px;
	float : left;
	width : 740px;
}

/* Sidebar Left */

#sidebar-left{
	width : 160px;
	float : left;
	overflow : hidden;
}

/* Product Profile */

#product-profile img{
	width : 265px;
	float : left;
}

.product-info{
	float : left;
	position : relative;
	width : 435px;
	padding-left : 40px;
}

.product-info .product-price{
	position : initial;
}

/* Menu List */

.menu-list{
	border : 1px solid #CCC;
	margin-bottom : 5px;
}

.menu-list li,
.menu-list li a{
	display : block;	
	height : 46px;
	line-height : 46px;
	color : #666;
	font-size : 12px;
}

.menu-list li a:hover{
	text-decoration : underline;
}

.menu-list li{
	padding : 0 15px;
	border-bottom : 1px solid #CCC;
}

.menu-list li:first-child,
.menu-list li:last-child{
	border-bottom : 0;
}

.menu-list li.menu-list-title,
.menu-list li.menu-list-title a,
.menu-list li.menu-list-title span{
	text-transform : uppercase;
	background : #666;
	color : #FFF;
}


/* Product List */

.product-list{

}

.product-list li{
	width : 175px;
	display : block;
	float : left;
	overflow : hidden;
	margin-right : 13px;
}

.product-list li .product-link{
	font-size : 14px;
	line-height : 140%;
	color : #666;
	margin-bottom : 15px;
	display : block;
}

li .product-link:hover{
	text-decoration : underline;
}

.product-list li:nth-child(4n + 0){
	margin-right : 0;
}

.product-image{
	position : relative;
	margin-bottom : 15px;
}

.product-image img{
	width : 100%;
}

.product-price{
	position : absolute;
	left : 0;
	bottom : 0;
	background : #0EA7FF;
	color : #FFF;
	font-size : 24px;
	font-weight : bold;
	padding : 7px 20px;
}

.product-price small{
	color : inherit;
}

.btn-success{
	
	text-align : center;
	color : #FFF;
	background : #7FBF50;
	height : 35px;
	line-height : 35px;
	display : inline-block;
	border-radius : 3px;
	padding : 0 30px;
}

.btn{
	cursor : pointer;
}

/************************************************
* FOOTER
************************************************/

footer{
	background : #DDDDDD;
	height : 70px;
	text-align : center;
	overflow : hidden;
	
}

footer strong,
footer span{
	font-size : 12px;
}

footer span{
	position : relative;
	top : 7.5px;
}

footer .container{
	position : relative;
	margin-top : 20px;
}

footer a{
	position : absolute;
	top : 0;
	right : 0;
}

/************************************************
* TABLE
************************************************/

table{
	width : 100%;
	border-collapse: collapse;
	margin-bottom : 10px;
}

table td,
table th{
	border : 1px solid #CCC;
	padding : 10px 5px;
}

table th,
table .title{
	font-weight : normal;
	color : #FFF;
	background : #666;
}

table a:hover{
	text-decoration : underline;
}

.table{
	table-layout : fixed;
}

.table .col-sm{
	width : 10%;
}

.table .col-md{
	width : 15%;
	max-width : 100px;
}



input, select{
	padding : 7.5px;
	border-radius : 3px;
	border : 1px solid #999;
}

/************************************************
* FORM
************************************************/

.form-group{
	margin-bottom : 15px;
}

.form-group label{
	display : block;
	font-weight : bold;
	margin-bottom : 5px;
}

.form-group input,
.form-group select{
	box-sizing:content-box;
	display : block;
	width : 723px;	
}



/************************************************
* COMBO
************************************************/

.combo{
	margin-bottom :40px;
}


button {
	background: transparent;
	outline: 0;
	border: 0;
	cursor: pointer;
}

.none {
	display: none;
}

.btn-success[disabled] {
	background: gray;
	cursor: auto;
}