nav ul li {
  list-style-type: none; }

body {
  background: #f3f5f7; }

.circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden; }
  .circle img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; }

h2:first-child {
  margin-top: 0px; }

.panel-success {
  max-width: 600px;
  margin: auto; }

#header {
  height: 60px;
  background: white;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 9999; }
  #header #formularioPesquisa,
  #header #navegacaoPrimario,
  #header #logo {
    float: left; }
  #header #navegacaoUsuario ul,
  #header #navegacaoPrimario ul {
    padding: 0px;
    margin: 0px; }
  #header #navegacaoUsuario {
    float: right; }
    #header #navegacaoUsuario > .dropdown > button {
      background: transparent;
      height: 60px; }
    #header #navegacaoUsuario span {
      line-height: 40px;
      display: inline-block; }
    #header #navegacaoUsuario .caret {
      margin-top: 18px;
      margin-left: 10px; }
    #header #navegacaoUsuario span,
    #header #navegacaoUsuario .circle {
      display: block;
      float: left; }
    #header #navegacaoUsuario .circle {
      margin-right: 10px; }
  #header > .container > nav > ul > li > a,
  #header > .container > nav > ul > li {
    display: inline-block; }
  #header > .container > nav > ul > li > a {
    line-height: 60px;
    padding: 0px 20px;
    text-transform: uppercase; }

#logo {
  background: url(../imgs/logo.svg) no-repeat center;
  text-indent: -99999px;
  display: block;
  margin: 0px;
  margin-right: 20px; }
  #logo a {
    display: block;
    height: 60px;
    width: 200px; }

main {
  margin-top: 90px; }

.projeto {
  background: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  position: relative;
  padding: 20px;
  padding-top: 160px; }
  .projeto > .projeto-imagem-link {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 150px; }
    .projeto > .projeto-imagem-link figure {
      position: relative;
      width: 100%;
      height: 100%; }
    .projeto > .projeto-imagem-link img {
      width: 100%;
      height: 100%;
      position: relative;
      display: block;
      object-fit: cover; }
  .projeto .barra-porcentagem {
    margin-top: 10px;
    height: 6px;
    border-radius: 3px;
    width: 100%;
    background: #e8e8f7; }
    .projeto .barra-porcentagem .porcentagem {
      border-radius: 3px;
      height: 6px;
      display: block;
      background: #5cbc6c;
      width: 50%; }
  .projeto .acoes {
    z-index: 10;
    position: absolute;
    right: 10px;
    top: 10px; }

#destaque .projeto {
  padding: 20px;
  padding-left: 390px; }
  #destaque .projeto > .projeto-imagem-link {
    float: left;
    height: 100%;
    width: 360px; }

#novidades .projeto {
  margin-bottom: 30px; }

#formularioPesquisa input {
  line-height: 60px;
  height: 60px;
  border: none; }
#formularioPesquisa button {
  background: none; }

#detalhe .video-full {
  width: 100%; }
#detalhe .informacoes > div {
  margin-bottom: 10px; }
  #detalhe .informacoes > div * {
    display: block; }
  #detalhe .informacoes > div strong {
    font-size: 38px; }

#login {
  width: 100%;
  max-width: 300px;
  margin: auto; }
  #login a {
    display: block; }
  #login .btn {
    width: 100%;
    clear: both;
    display: block; }
  #login .esqueci-minhasenha {
    float: right;
    display: block; }
  #login .voltar {
    float: left;
    display: block; }

#formulario_doacao ul {
  padding: 0px;
  margin: 0px;
  list-style: none; }
  #formulario_doacao ul li {
    list-style: none;
    margin: 0px; }

#formulario_doacao2 {
  width: 100%;
  max-width: 600px;
  margin: auto; }
  #formulario_doacao2 > .card > div {
    margin-bottom: 20px; }
    #formulario_doacao2 > .card > div * {
      display: block; }
    #formulario_doacao2 > .card > div span {
      font-size: 18px; }
  #formulario_doacao2 small {
    font-weight: bold;
    text-transform: uppercase;
    color: #848484; }

.card {
  background: white;
  padding: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); }
  .card > h3 {
    margin-top: 0px; }
  .card::after {
    content: '';
    clear: both;
    display: block; }

.align-right {
  text-align: right; }

#formulario_cadastrarprojeto {
  max-width: 600px;
  width: 100%;
  margin: auto; }

#categorias > .row .btn {
  width: 100%; }
#categorias > .row > div {
  margin-bottom: 20px; }

.align-center {
  text-align: center; }

#cadastro {
  width: 100%;
  max-width: 300px;
  margin: auto; }
  .area-video img,
  .area-foto img{
    display: block;
    width: 100%;
  }

/*# sourceMappingURL=styles.css.map */
