* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    margin: 20px;
}

table {
    margin: 20px auto;
}

thead {
    background: #efefef;
}

tr:nth-of-type(2n) {
    background: #ddd;
}

th {
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 50px;
}

td {
    padding: 10px;
}

tbody {
    text-align: center;
}

tfoot {
    text-align: center;
    padding: 10px;
    background: #858585;
    color: #FFF;
}

select {
    margin: 100px auto 20px auto;
    padding: 10px 30px 10px 5px;
}

form {
    text-align: center;
}