* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #ededed;
}

td {
    width: 150px;
    height: 150px;
    text-align: center;
    background: #ffffff;
    font-size: 40px;
    cursor: pointer;
}

td:hover {
    background: #a7a7a7;
}

form {
    display: flex;
}

form > div {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

label {
    display: block;
    font-size: 30px;
}

form > div > select {
    padding: 10px 30px 10px 5px;
    margin: 10px;
}


.velha {
    width: 500px;
    height: 500px;
    background: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.velha div {
    width: calc((100% / 3) - 0px);
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    width: 120px;
    height: 40px;
    background: black;
    color: #FFF;
}

.fundo {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .4);
    position: absolute;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.fundo span {
    color: #FFF;
    font-size: 30px;
    margin-bottom: 20px;
}